body {
    background-color: rgb(54, 54, 54);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}



header {

    display: flex;
    flex-direction:row-reverse;
    margin: 0 60px;
    
}

.headerbutton {
    font-weight:lighter;

    background-color: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgba(0, 0, 0, 0);
    padding: 0 15px;
}

.signup {
    border: solid;
    background-color: rgb(2, 113, 177);
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 150px;
    border-color: rgb(2, 113, 177);
}

.signup2 {
    border: solid;
    background-color: rgb(2, 113, 177);
    border-radius: 15px;
    font-size: 36px;
    cursor: pointer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 230px;
    height: 60px;
    border-color: rgb(2, 113, 177);
}

h1 {
    font-size: 45px;
    padding: 40px;
}

h2 {
    font-size: 20px;
    padding: 20px;
    font-weight:lighter;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 18px;
    font-weight: lighter;
}

.title {
    margin: auto;
    width: 50%;
    height: 20%;
    padding: 10%;
    text-align: center;
}

.title2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.startdiv {
    margin: auto;
    width: 50%;
    height: 200px;
    text-align: center;
}